<header><a class="ico-menu" hl href="/menu/index.html"></a><h1>福利彩票</h1></header>
<section id="main" class="main">
<ul class="blockBox czList">
    <li>
        <p class="blockBoxItem"><a href="/ssq.html"><i class="icoSsq ico"></i><em>双色球</em><span>2元中1000万</span></a></p>
        <p class="blockBoxItem"><a href="/qlc.html"><i class="icoQlc ico"></i><em>七乐彩</em><span>最高奖500万</span></a></p>
    </li>
    <li>
        <p class="blockBoxItem"><a href="/3d.html"><i class="ico3d ico"></i><em>3D</em><span>天天开奖</span></a></p>
        <p class="blockBoxItem"><a href="/east61.html"><i class="icoFc ico"></i><em>福彩6+1</em><span>最高奖500万</span></a></p>
    </li>
    <li>
        <p class="blockBoxItem"><a href="/f15c5.html"><i class="ico155 ico"></i><em>15选5</em><span>每天开奖最高500万</span></a></p>
        <p class="blockBoxItem"><a href="/k3.html"><i class="icoK3 ico"></i><em>快三</em><span>天天开奖10分钟一期</span></a></p>
    </li>
</ul>
</section>
