<header class="big_hd"><h1>登录</h1>
    <em class="ico-close js_back" hl></em></header>
<section class="main loginwrap">
    <div class="login_logo"></div>
    <ul class="login_form">
        <li><input class="js_account" type="text" placeholder="PHONE / MAIL" /></li>
        <li><input class="js_password" type="password" placeholder="PASSWORD" /></li>
        <li class="action"><b class="btn greybtn loginbtn js_login">登录</b><b class="btn registerbtn" data-forward="/register.html">注册</b></li>
    </ul>
</section>
