<header class="hd_white"><em class="ico-back js_back" hl></em><h1>INSTAFABRIC</h1>
    <a class="ico-cart" hl href="/cart.html" forward></a></header>
<section class="main productwrap">
    <div class="productinfo">
        <div class="js_bg img"></div>
        <ul>
            <li class="js_price"></li>
            <li class="js_name"></li>
            <li class="character"></li>
            <li class="lab">颜色 Color</li>
            <li class="js_color"></li>
            <li class="action"><b class="btn js_select">添加至购物车</b></li>
        </ul>
    </div>
    <div class="productcon">
        <div class="hd">产品详情<br>
            PRODUCT DETAILS</div>
        <div class="js_content bd"></div>
    </div>
    <b style="display:none" class="js_buy"></b>
</section>
