<header class="hd_white"><em class="ico-back js_back" hl></em><h1>INSTAFABRIC</h1>
    <a class="ico-cart" hl href="/cart.html" forward></a></header>
<section class="main userwrap js_main">
    <ul class="userinfo">
        <li><img class="img js_avatars" />
            <p class="js_name"></p>
        </li>
        <li data-edit="js_realname"><span>姓名</span><p class="js_realname"></p>
        </li>
        <li data-edit="js_gender"><span>性别</span><p class="js_gender"></p>
        </li>
        <li>
            <p class="action"><b class="btn_add btn js_show_add">添加地址</b><b class="btn_delete btn">删除地址</b></p>
            <p class="js_address"></p>
            <div class="js_address_add"><span>添加地址</span>
                <p><input type="text" class="addresstext js_reciever" placeholder="收货人" /></p>
                <p><input type="text" class="addresstext js_phone" placeholder="联系方式" /></p>
                <p><input type="text" class="addresstext js_txt_address" placeholder="地址" /></p>
                <p class="commonuse"><i class="checkbox checked"></i>设为收货地址 <b class="btn js_add_address">添加</b></p>
            </div>
        </li>
        <li><span>手机</span><p class="js_mobile"></p>
        </li>
        <li><span>生日</span><p class="js_birthday"></p>
        </li>
    </ul>
    <div class="action"><b class="btn js_update">更新</b></div>
</section>

